<section class="gradient-custom vh-100">
  <div class="container py-5 h-100">
    <div class="row big-row justify-content-center align-items-center">
      <div class="col-12 col-lg-9 col-xl-7">
        <div
          class="card shadow-2-strong card-registration"
          style="border-radius: 15px"
        >
          <div class="card-body p-5 text-center">
            <h3 class="mb-5">Sign up</h3>
            <form [formGroup]="regForm">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-outline">
                    <input
                      placeholder="name"
                      type="text"
                      formControlName="name"
                      id="name"
                      class="form-control form-control-lg"
                      required
                    />
                    <p *ngIf="name?.invalid && name?.touched">
                      Name is required.
                    </p>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-outline">
                    <input
                      type="email"
                      id="emailAddress"
                      class="form-control form-control-lg"
                      formControlName="email"
                      placeholder="email"
                      required
                    />
                    <p *ngIf="email?.invalid && email?.touched">
                      Please type in valid email address
                    </p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-outline psw">
                    <input
                      id="psw"
                      [type]="inputType"
                      formControlName="password"
                      required
                      class="form-control form-control-lg"
                      placeholder="password"
                    />

                    <fa-icon
                      *ngIf="inputType === 'password'"
                      (click)="show()"
                      [icon]="showPsw"
                    ></fa-icon>
                    <fa-icon
                      *ngIf="inputType === 'text'"
                      (click)="hide()"
                      [icon]="hidePsw"
                    ></fa-icon>
                    <p *ngIf="password?.touched && password?.invalid">
                      Password should contain at least 6 digits
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-outline psw">
                    <input
                      [type]="inputType"
                      id="confirm"
                      formControlName="confirm"
                      class="form-control form-control-lg"
                      placeholder="confirm password"
                      required
                    />
                    <fa-icon
                      *ngIf="inputType === 'password'"
                      (click)="show()"
                      [icon]="showPsw"
                    ></fa-icon>
                    <fa-icon
                      *ngIf="inputType === 'text'"
                      (click)="hide()"
                      [icon]="hidePsw"
                    ></fa-icon>
                    <ng-container *ngIf="confirm?.touched && regForm.errors">
                      <p>Passwords don't match, please try again</p>
                    </ng-container>
                  </div>
                </div>
              </div>
            </form>
            <div>
              <input
                class="btn btn-info text-light btn-lg mb-1"
                type="button"
                value="Submit"
                (click)="signUp()"
                [disabled]="regForm.invalid"
                [ngClass]="{ disabled: regForm.invalid }"
              />
            </div>

            <hr />
            <div class="redirectToLogin">
              <span>Already have an account?</span>
              <a
                style="cursor: pointer"
                class="redirect"
                (click)="changeMode()"
              >
                Sign in</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
