<section class="gradient-custom">
  <div class="container">
    <div class="row justify-content-center align-items-center p-3">
      <div class="col-12 col-lg-9 col-xl-7">
        <div
          class="card shadow-2-strong card-registration"
          style="border-radius: 15px"
        >
          <div class="card-body p-md-5">
            <h3 class="pb-md-0 mt-3">Sign up</h3>
            <form [formGroup]="regForm">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-outline">
                    <input
                      type="text"
                      formControlName="name"
                      id="name"
                      class="form-control form-control-lg"
                      required
                    />
                    <label class="form-label" for="name">Name</label>
                    <p *ngIf="name?.invalid && name?.touched">
                      Name is required.
                    </p>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-outline">
                    <input
                      type="email"
                      id="emailAddress"
                      class="form-control form-control-lg"
                      formControlName="email"
                      required
                    />
                    <label class="form-label" for="emailAddress">Email</label>
                    <p *ngIf="email?.invalid && email?.touched">
                      Please type in valid email address
                    </p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-outline">
                    <input
                      id="psw"
                      [type]="inputType"
                      formControlName="password"
                      required
                      class="form-control form-control-lg"
                    />

                    <label class="form-label" for="psw">Password</label>
                    <fa-icon
                      *ngIf="inputType === 'password'"
                      (click)="show()"
                      [icon]="showPsw"
                    ></fa-icon>
                    <fa-icon
                      *ngIf="inputType === 'text'"
                      (click)="hide()"
                      [icon]="hidePsw"
                    ></fa-icon>
                    <p *ngIf="password?.touched && password?.invalid">
                      Password should contain at least 6 digits
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-outline">
                    <input
                      [type]="inputType"
                      id="confirm"
                      formControlName="confirm"
                      class="form-control form-control-lg"
                      required
                    />
                    <label class="form-label" for="confirm"
                      >Confirm Password</label
                    >
                    <fa-icon
                      *ngIf="inputType === 'password'"
                      (click)="show()"
                      [icon]="showPsw"
                    ></fa-icon>
                    <fa-icon
                      *ngIf="inputType === 'text'"
                      (click)="hide()"
                      [icon]="hidePsw"
                    ></fa-icon>
                    <ng-container *ngIf="confirm?.touched && regForm.errors">
                      <p>Passwords don't match, please try again</p>
                    </ng-container>
                  </div>
                </div>
              </div>
            </form>
            <div class="">
              <input
                class="btn btn-info btn-lg"
                type="button"
                value="Submit"
                (click)="signUp()"
                [disabled]="regForm.invalid"
              />
            </div>

            <hr class="" />
            <div class="redirectToLogin">
              <span>Already have an account?</span>
              <span
                style="cursor: pointer"
                class="redirect"
                (click)="changeMode()"
              >
                <br />
                Sign in</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
