<section style="background-color: #508bfc" class="vh-100">
  <div class="container py-5">
    <div class="row h-100 d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body py-5 px-3 h-100 text-center">
            <h3 class="mb-5">Sign in</h3>

            <form
              [formGroup]="loginForm"
              class="d-flex flex-column justify-content-between"
            >
              <div class="form-outline">
                <input
                  formControlName="email"
                  type="email"
                  id="typeEmailX-2"
                  class="form-control form-control-lg"
                  placeholder="Email"
                  required
                />
                <div class="px-2">
                  <p *ngIf="email?.invalid && email?.touched">
                    Please type in valid email address
                  </p>
                </div>
              </div>
              <div class="form-outline psw">
                <input
                  formControlName="password"
                  [type]="inputType"
                  id="typePasswordX-2"
                  class="form-control form-control-lg"
                  placeholder="Password"
                  required
                />

                <div>
                  <fa-icon
                    *ngIf="inputType === 'password'"
                    (click)="show()"
                    [icon]="showPsw"
                  ></fa-icon>
                  <fa-icon
                    *ngIf="inputType === 'text'"
                    (click)="hide()"
                    [icon]="hidePsw"
                  ></fa-icon>
                  <p *ngIf="password?.touched && password?.invalid">
                    Please type in valid password
                  </p>
                </div>
              </div>
              <button
                class="btn btn-info text-light btn-lg btn-block mb-2"
                type="submit"
                (click)="onLogin()"
                [disabled]="loginForm.invalid"
                [ngClass]="{ disabled: loginForm.invalid }"
              >
                Login
              </button>
            </form>

            <hr />
            <div class="redirectToRegister">
              <span>Don't have an account?</span>
              <a
                style="cursor: pointer"
                class="redirect"
                (click)="changeMode()"
              >
                Sign Up</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
