section {
  min-height: 100vh;
}

fa-icon {
  cursor: pointer;
  padding: 10px;
}

fa-icon:hover {
  color: adjust-hue($color: rgb(31, 113, 206), $degrees: 50);
}

a {
  text-decoration: none;
}

.disabled {
  background-color: gray;
}
